<div class="wrapper ">

  <app-categories></app-categories>

  <div class="main-panel">
    <!-- Navbar -->
    <app-add-button></app-add-button>
    <app-stat></app-stat>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <app-exercises></app-exercises>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">

        <div class="copyright float-right">
          © 2020 , made with <i class="material-icons">favorite</i> by Stepanian
        </div>
      </div>
    </footer>
  </div>
</div>
